<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Help with weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

 <body>
    <div class="main-content">
    {{>header}}
    <section>
        <h2>Data from Weatherstack.com</h2>
        <p>Help message: {{message}}</p>
    </section>
    </div>
    
    {{>footer}}
</body>
</html>